apiVersion: v1
kind: Service
metadata:
  name: api-svc
  namespace: three-tier
  labels:
    app: backend
    role: api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
spec:
  type: ClusterIP
  selector:
    role: api
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
  sessionAffinity: None

# ---
# apiVersion: monitoring.coreos.com/v1
# kind: ServiceMonitor
# metadata:
#   name: backend-metrics
#   namespace: three-tier
#   labels:
#     release: kube-prometheus-stack
#     app: backend
# spec:
#   selector:
#     matchLabels:
#       app: backend
#   namespaceSelector:
#     matchNames:
#       - three-tier
#   endpoints:
#     - port: http
#       path: /metrics
#       interval: 15s
#       scrapeTimeout: 10s
