apiVersion: v1
kind: Service
metadata:
  namespace: three-tier
  name: mongodb-svc
  labels:
    app: mongodb
spec:
  clusterIP: None
  selector:
    app: mongodb
  ports:
  - name: mongodb
    protocol: TCP
    port: 27017
    targetPort: 27017
  type: ClusterIP
